@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --default-font: "Inter", sans-serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

main {
  display: block;
  /* height: 100vh; */
  overflow: auto;
  grid-row: 2/3;
  grid-column: 2/3;
}

header {
  grid-column: 1/3;
  grid-row: 1/2;
}

#mobileMenu {
  display: none;
}

.container {
  display: grid;
  /* rows, columns */
  grid-template: 80px 1fr / 350px auto;
  font-family: var(--default-font);
  overflow: hidden;
  height: 100vh;
}

.home p,
.today p,
.thisWeek p {
  font-family: var(--default-font);
  color: black;
}

body {
  /*  display: grid; */
  /* rows, columns */
  /* grid-template: 80px 1fr / 350px auto; */
  font-family: var(--default-font);
  position: relative;
}

/* Styling for form used to create and edit tasks */

.form-container {
  z-index: 1;
  position: absolute;
  background-color: white;
  display: none;
  width: 50%;
  padding: 14px 14px;
  height: auto;
  box-shadow: 0px 6px 4px 4px rgba(155, 155, 155, 0.322);
  border-radius: 12px 12px;
  grid-template-columns: 1fr 32px;
  grid-template-rows: 74vh;
  place-self: center;
  overflow: auto;
}

#taskForm {
  display: flex;
  z-index: 1;
  background-color: white;
  position: absolute;
  transition: 0.1s ease-in;
  animation: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  grid-column-start: 1;
  grid-column-end: 2;
  place-self: center;
  width: 90%;
  grid-row: 1/2;
  align-self: flex-start;
  margin-top: 12px;
  padding: 23px 0px;
}

#taskForm > fieldset {
  display: flex;
  flex-direction: column;
  gap: 34px;
  border-style: none;
  width: 80%;
  padding: 0;
  flex: 1;
}

fieldset > label:first-of-type {
  margin-top: 8px;
}

.fieldset-body {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 90%;
}

.fieldset-body button {
  border: none;
  background-color: lightgrey;
  font-family: var(--default-font);
  font-size: 0.8rem;
  padding: 6px;
  height: 35px;
}

legend {
  display: flex;
  gap: 8px;
  font-size: 1.2rem;
  /* transform: scale( 1,2); */
  /* width: 90%; */
  font-weight: 700;
}

button.close-modal {
  /* align-self: flex-end; */
  justify-items: end;
  height: 32px;
  width: 32px;
  display: flex;
  justify-self: end;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: rgb(196, 196, 196);
  border: none;
  transition: 0.1s ease-in-out;
  color: black;
}

.form-modal-background {
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
  background-color: #80808054;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: 0.1s ease-in;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

textarea#notes {
  align-self: flex-end;
}

label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btnPriorityContainer {
  display: flex;
  gap: 6px;
  height: 45px;
}

input[type="radio"] {
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
  align-self: center;
}

input[type="radio"]:checked#high {
  border: 4px solid #cf2020;
}

input[type="radio"]:checked#medium {
  border: 4px solid rgb(221, 154, 32);
}

input[type="radio"]:checked#low {
  border: 4px solid rgb(228, 228, 35);
}

header {
  /* outline: 1px solid black; */
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(93 123 226 / 85%);
  box-shadow: 0px 2px 7px 0px rgb(52 75 155 / 46%);
  padding: 9px 0px;
  /* height: 80px; */
  z-index: 1;
  position: relative;
}

header > div {
  margin-left: 24px;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  gap: 12px;
  height: 50px;
  color: rgb(255, 255, 255);
  width: 100%;
}

header > div > svg {
  display: none;
}

.headerContent {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerContent h1 {
  margin-bottom: 20px;
}

header svg {
  height: 40px;
  fill: rgb(255, 255, 255);
}

aside {
  /* outline: 1px solid black; */
  background: rgb(230, 230, 230);
  grid-row: 2/4;
}

nav {
  /* outline: 1px solid black; */
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

nav > div {
  /* outline: 1px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav > div > button {
  /* outline: 1px solid black; */
  font-size: 1.2rem;
  padding: 12px;
  width: 70%;
  /* margin-left: 30px; */
  display: flex;
  justify-content: flex-start;
  border: none;
  gap: 10px;
  align-items: center;
  transition: 0.01s ease-in-out;
  height: 58px;
}

nav > div > button:hover {
  background-color: rgb(209, 209, 209);
}

nav > div > button > svg {
  height: 30px;
}

/* Styles project container header */
.projectContainer > div > p:first-of-type {
  /* margin-left: 30px; */
  /*  outline: 1px solid black; */
  justify-content: center;
  font-size: 1.6rem;
}

/* Apply styles for project container title and add button */
.projectContainer > div:first-of-type {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 70%;
  flex: 1 auto;
  align-self: flex-start;
}

/* For styling the add project button */
.projectContainer > div:first-of-type > button {
  font-size: 1.7rem;
  font-weight: 1000;
  padding: 10px;
  border: none;
  color: black;
}

/* For styling the add project button */
.projectContainer > div:first-of-type > button:hover {
  background-color: rgb(209, 209, 209);
}

.projects {
  /*  outline: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 120px;
  align-items: center;
  width: 75%;
  margin-bottom: 8px;
  overflow: auto;
}

.projects > div {
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* justify-content: center; */
  gap: 8px;
  width: 100%;
  padding: 8px;
}

.projectControls {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  gap: 4px;
}

.projectControls svg {
  pointer-events: none;
  height: 18px;
}

.projectControls > button:hover {
  background-color: rgb(209, 209, 209);
}

.projectControls > button:last-of-type {
  color: red;
  width: 75%;
  padding: 8px;
  border: none;
}

.projectControls > button:first-of-type {
  color: darkgrey;
  width: 75%;
  padding: 8px;
  border: none;
}

.projects > div > button {
  width: 75%;
  padding: 8px;
  border: none;
  font-size: 0.9rem;
  font-family: var(--default-font);
  color: black;
}

.projects > div > button:hover {
  background-color: rgb(209, 209, 209);
}

.projects > div > form > input {
  width: 100%;
  height: 30px;
}

.projects > div > form {
  display: flex;
  align-items: center;
  gap: 6px;
}

nav > .projectContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projects > p {
  outline: 1px solid black;
  padding: 6px;
}

/* Styling for project input */
.projectInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-self: end;
}

.projectInput > label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.projectTitle > div {
  display: flex;
  gap: 8px;
  height: 32px;
}

input {
  background-color: whitesmoke;
}

.projectInputForm {
  display: none;
  flex-direction: column;
  transition: 0.1s;
  align-items: center;
}

input#projectTitle {
  width: 60%;
}

.projectTitle svg {
  height: 18px;
}

.projectInputForm button {
  /* height: 30px; */
  align-self: center;
  background-color: rgb(209, 209, 209);
  border: none;
  transition: 0.1s ease-in-out;
}

.projectInputForm button:hover {
  background-color: rgb(178, 178, 178);
}

.closeProjectAddInput {
  margin: 12px 0px;
}

.closeProjectInputBtn {
  display: block;
  transition: 0.1s;
}

.taskContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 8px 8vw;
  min-height: 100vh;
  margin-bottom: 14px;
  /* outline: 1px solid black; */
}

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*  outline: 1px solid black; */
  flex-direction: column;
  gap: 14px;
}

.tasks > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgba(231, 231, 231, 0.849);
  color: black;
  border-radius: 8px 8px;
  padding: 8px;
  box-shadow: 0px 3px 3px 0px #6c6c6c4f;
  /* background: linear-gradient(
    61deg,
    #d5d5d5,
    #f1f1f19e,
    #d3d3d3,
    gainsboro,
    #e4e4e4
  ); */
}

/* Make task look disabled */
.tasks > .complete * {
  color: rgb(107, 107, 107);
}

.editButton,
.deleteButton {
  border: none;
  padding: 4px;
  transition: 0.01s ease-in-out;
}

.editButton:hover,
.deleteButton:hover {
  background-color: rgb(209, 209, 209);
}

.editButton > svg {
  width: 20px;
  height: auto;
  pointer-events: none;
}

.deleteButton > svg {
  pointer-events: none;
  width: 20px;
  height: auto;
}

/* .tasks .complete button {
  color: lightgray;
  background-color: green;
} */

.leftSideContainer {
  display: flex;
  align-items: center;
  gap: 6px;
}

.taskHeaderContainer {
  display: flex;
  justify-content: center;
}

.taskHeaderContainer h3 {
  font-size: 1.3rem;
}

.taskControls {
  display: flex;
  gap: 4px;
}

.taskControls .pastDue {
  color: #e74c4c;
}

.addTaskBtn {
  width: 100%;
  padding: 8px;
  align-self: center;
  border: none;
  background-color: rgba(231, 231, 231, 0.849);
  height: 50px;
  justify-content: flex-start;
  color: rgb(90, 90, 90);
  border-radius: 8px 8px;
  height: 66px;
  box-shadow: 0px 3px 3px 0px #6c6c6c4f;
  /* background: linear-gradient(
    61deg,
    #d5d5d5,
    #f1f1f19e,
    #d3d3d3,
    gainsboro,
    #e4e4e4
  ); */
}

.addTaskBtn > div {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: 0.4s ease-in-out;
}

.addTaskBtn:hover {
  transform: scale(1.004);
}

.addTaskBtn:hover > div svg {
  fill: black;
}

.addTaskBtn:hover > div p {
  color: black;
}

.addTaskBtn p {
  align-self: center;
  font-size: 1rem;
  font-family: var(--default-font);
}

.addTaskBtn svg {
  height: 30px;
  fill: rgb(90, 90, 90);
}

/* Task toggle checkbox styling */

input[type="checkbox"]:before {
  content: "\2713";
  font-size: 20px;
  color: #292525;
  position: absolute;
  top: -6px;
  left: 0px;
  text-shadow: 1px 1px #444;
  opacity: 0;
  transition: all 0.1s ease;
  font-weight: 700;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  position: relative;
  background-color: white;
}

input[type="checkbox"]:checked:before {
  opacity: 1;
  height: 16px;
  width: 16px;
}

input[type="checkbox"]:checked {
  background-color: rgb(77, 148, 83);
}

@media only screen and (max-device-width: 812px) {
  .container {
    /* display: grid; */
    /* rows, columns */
    height: 100vh;
    /* grid-template: 80px 1fr / 350px auto; */
    display: flex;
    flex-direction: column;
  }

  .showMobileMenu {
    display: block;
  }

  #mobileMenu {
    border: none;
    display: flex;
  }

  aside {
    display: none;
  }

  header > div {
    justify-content: space-evenly;
    margin-left: 0px;
  }

  header > div > svg {
    display: flex;
  }

  nav > div {
    /* outline: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
  }

  #taskForm {
    display: flex;
    z-index: 1;
    background-color: white;
    position: absolute;
    transition: 0.1s ease-in;
    animation: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    grid-column-start: 1;
    grid-column-end: 2;
    place-self: center;
    width: 90%;
    grid-row: 1/2;
    align-self: flex-start;
    margin-top: 12px;
    /* padding: 8px 0px; */
    top: 10px;
  }

  .form-container {
    z-index: 3;
    position: relative;
    background-color: white;
    display: none;
    width: 80%;
    padding: 12px 14px;
    /* height: 73vh; */
    box-shadow: 0px 6px 4px 4px rgba(155, 155, 155, 0.322);
    border-radius: 12px 12px;
    grid-template-columns: 1fr 32px;
    grid-template-rows: 74vh;
    place-self: center;
    overflow: auto;
    height: auto;
    /* top: 30px; */
  }
  .headerContent {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 6px;
  }

  .headerContent h1 {
    margin-bottom: 20px;
  }

  .form-modal-background {
    -webkit-backdrop-filter: blur(5px);
  }
}
