body {
  display: grid;
  /* rows, columns */
  grid-template: 60px auto / 350px auto;
  height: 100vh;
}

header {
  outline: 1px solid black;
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(252, 175, 145, 0.849);
}

aside {
  outline: 1px solid black;
  grid-column: 1/2;
  grid-row: 2/3;
  background: lightgray;
}

nav {
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
}

nav > div {
  outline: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

nav > div > p {
  outline: 1px solid black;
  font-size: 1.2rem;
  padding: 6px;
  width: 100px;
  /*  margin-left: 30px; */
  display: flex;
  justify-content: center;
}

/* Styles project container header */
.projectContainer > div > p:first-of-type {
  /* margin-left: 30px; */
  /*  outline: 1px solid black; */
  justify-content: center;
  font-size: 1.6rem;
}

/* Apply styles for project container title and add button */
.projectContainer > div:first-of-type {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 70%;
  flex: 1 auto;
}

/* For styling the add project button */
.projectContainer > div:first-of-type > button {
  font-size: 1.5rem;
  font-weight: 1000;
}

.projects {
    outline: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 114px;
    align-items: center;
    width: 70%;
    margin-bottom: 8px;
    overflow: auto;
}

.projects > div {
  font-size: 1.1rem;
}

nav > .projectContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.projects > p {
  outline: 1px solid black;
  padding: 6px;
}

/* Styling for project input */
.projectInput {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-self: end;
}

.projectInput > label {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


input {
  background-color: whitesmoke;
}

.projectInputForm {
    display: none;
    transition: 0.1s;
}

.closeProjectAddInput {
  margin: 12px 0px;
}

.closeProjectInputBtn {
    display: none;
    transition: 0.1s;
}


